* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.done{
  text-decoration: line-through;
}
.todo-element{
  cursor: pointer;
  transition: background-color 200ms ease-in-out;
}

.todo-element:hover{
  background-color: #eee;
}

.todo-delete{
  color: rgb(199, 77, 77);
  transition: background-color 200ms ease-in-out,
              color 200ms ease-in-out;
}

.todo-delete:hover{
  background-color: rgb(199, 77, 77);
  color: #fff;
}